<h2>Recently</h2>
<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img src="<%= book.coverImagePath%>" alt="" width="150" height="100">
            <div> <%= book.title %></div>
        </a>
    <% }) %>
</div>